
.Container{
    border: 1px solid blue;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    align-items: center;
    height: 250px;
}

.cardContainer img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    display: block;
}

.cardContainer p{
    margin: 0;
    
}

.cardContainer button{
    margin-top: 10px;
    height: 2rem;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0px;
}