.optionContainer{
    width: 250px;
    height: 200px;
}

.optionContainer img{
    display: block;
    width: 100%;
    height: 75%;
}

.optionContainer h2{
    text-align: center;
    line-height: 50px;
    height: 25%;
    background-color: black;
    color: white;
}